{% extends 'base.html' %}
{% block page_content %}

<br />

<body>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Login</h5>
                  <form class="form-signin" method="POST">
                        {% csrf_token %}
                    <div class="form-label-group">
                   
                     {{form.username}}
               
                      <label>Username</label>
                    </div>
      
                  
                    <div class="form-label-group">
                   
                            {{form.password}}
                     
                            <label>Password</label> 
                          </div>
                  
      
                 
                    
                 
      
                    <button class="btn btn-outline-primary" type="submit">login</button>
                 
                    <hr class="my-4">
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
       
</body>






{% endblock %}