






{% extends 'base.html' %}
{% block page_content %}

<br />

<body>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">change password</h5>
                  <form class="form-signin" method="POST">
                        {% csrf_token %}
                    <div class="form-label-group">
                   
                     {{form.old_password}}
               
                      <label>Old password</label>
                    </div>
      
                  
                    <div class="form-label-group">
                   
                            {{form.new_password1}}
                     
                            <label>new password</label> 
                          </div>
                  
      
                          <div class="form-label-group">
                   
                            {{form.new_password2}}
                     
                            <label>confirm password</label> 
                          </div>
                    
                 
      
                    <button class="btn btn-outline-primary" type="submit">Save changes</button>
                 
                    <hr class="my-4">
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
       <ul>
         <li>
          Your password can't be too similar to your other personal information.
         </li>
         <li>
          Your password must contain at least 8 characters.
         </li>
         <li>
          Your password can't be a commonly used password.
         </li>
         <li>
          Your password can't be entirely numeric.
         </li>
       </ul>
</body>









  {% endblock %}